body {
  font-family: 'Nunito', sans-serif;
  text-align: center;
  background-color: #E3E3E3;
}
#lpr {
  table {
    border-collapse: collapse;
    width: 100%;
    th, td {
      padding: 1rem;

      &:not(:last-child) {
        border-right: 1px solid #AAAAAA;
      }
    }
  }
  .regex {
    background-color: #FFAAAA;
    padding: .2rem .5rem;
    margin: .5rem;
    display: inline-block;
  }
  .plate {
    border: 1px solid #333333;
    background-color: #FFFFFF;
    border-radius: 4px;
    padding: .2rem .5rem;
    margin: .5rem;
    display: inline-block;
  }
}